{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="form-container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2 text-center">
      <img class="mb-4 small-logo" src="{% static 'images/logo.png' %}" alt="Cre8AI.art Logo">
      <h3>{% trans "Sign Up" %}</h3>
      <p>{% blocktrans %}Welcome to onlineai.art! Do you already have an account? Then please <a class="link"
          href="{{ login_url }}">sign in</a> instead, otherwise, register here.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.errors %}
          <ul class="errorlist text-danger">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-custom right" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
  <div>
    <strong>
      By signing up you are agreeing to our <a class="text-danger" href="{% url 'about' %}">Terms of Use</a>.
    </strong>
  </div>
</div>

{% endblock %}