body {
    background-color: #F9FAFC;
}

a {
    color: #00ffff;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #c8c8c8;
}

.medium-bg {
    background-color: #7d399c;
}

.dark-bg {
    background-color: #40005e;
}

.main-bg {
    background-color: #fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #00ffffb0;
}

.author {
    color: darkblue;
    margin: 4px;
    text-transform: uppercase;
}

/* .masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #003975;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #ccddf0;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
} */

.post-link {
    text-decoration: none;
    color: #40005e;
}

.post-link:hover,
.page-link {
    color: #fc00ea;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #05b0b0;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #6ae4e4;
}

.link {
    color: #ff00ea;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #46006c;
    text-decoration: underline;
}

.btn-like {
    color: #ff0000;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #fc00ea;
    background: transparent;
    border: none;
}



/* ----------------------------------------------------- cre8ai.art Logo */

.no-underline {
    text-decoration: none;
  }

.logo-text {
    font-family: 'Pacifico', cursive;
    display: inline-block;
    transform: rotate(-5deg) translate(-3px, 3px);
  }
  
  .logo-cre {
    color: #ffca3a;
    transform: rotate(-20deg) translate(5px, 4px);
  }
  
  .logo-eight {
    color: #44b54a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: bold;
    transform: translate(3px, 5px);
  }
  
  .logo-ai {
    color: #fa1100;
    transform: rotate(20deg) translate(5px, -1px);
  }
  
  .logo-art {
    color: #00f7ff;
    font-weight: bold;
    transform: rotate(-20deg) translate(-6px, 1px);
  }