/* Color Palette */

:root {
    --col-1: #00B4D8;
    --col-2: #7B2CBF;
    --col-3: #008891;
    --col-4: #FFC300;
    --col-5: #D9A9FF;
    --col-6: #3D3A6E;
    --col-7: #A9A9A9;
    --col-8: #F5F5F5;
}

/* ------------------------------------------------- General */

body {
    background-color: var(--col-8);
    font-family: Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    padding-bottom: 25px;
}

footer {
    margin-top: auto;
}

.hide {
    display: none;
}

a {
    color: var(--col-1);
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 10px;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.right {
    float: right;
}

/* .white-text {
    color: var(--col-8);
} */

.thin {
    font-weight: 300;
}

.no-underline {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 25px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

.errorlist {
    list-style-type: none;
    padding: 0;
}

/* ------------------------------------------------- Backgrounds */

.light-bg {
    background-color: var(--col-7);
}

.medium-bg {
    background-color: var(--col-3);
}

.dark-bg {
    background-color: var(--col-6);
}

.main-bg {
    background-color: var(--col-8);
}

/* ------------------------------------------------- Image & Containers */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.posted-image-container {
    width: 100%;
    max-width: 75vh;
    margin: 0 auto;
}

.posted-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    right: -2px;
    background-color: var(--col-1);
    opacity: 0.7;
}

.image-flash:hover {
    background-color: var(--col-5);
}

.image-padding {
    padding: 10%;
}

.card-img-top,
.img-thumbnail,
.image-flash {
    transition: transform 0.5s ease;
}

.card-img-top:hover,
.img-thumbnail:hover,
.image-flash:hover {
    transform: scale(1.05);
    font-weight: bolder;
}

/* ------------------------------------------------- Text */

.navbar-nav {
    align-items: center;
}

.nav-text {
    color: var(--col-6);
}

.nav-link {
    color: var(--col-2);
}

.author {
    color: var(--col-6);
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: var(--col-6);
}

.post-link:hover {
    color: var(--col-2);
}

.post-title {
    margin-top: 25px;
}

.post-subtitle {
    color: var(--col-7);
    text-align: right;
}

.link {
    color: var(--col-2);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: var(--col-5);
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
}

/* ------------------------------------------------- Buttons */

.btn-custom {
    background-color: var(--col-3);
    color: var(--col-8);
    font-size: 14px;
    padding: 6px 12px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn-custom:hover,
.btn-custom:active {
    background-color: var(--col-6);
    color: var(--col-8);
    text-decoration: none;
}

.download-image {
    text-align: right;
    padding-right: 10px;
    padding-bottom: 0;
}

.btn-like {
    color: red;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--col-2);
    background: transparent;
    border: none;
}

.page-button {
    margin-left: 3px;
    margin-right: 3px;
    color: var(--col-2);
    transition: color 0.3s, transform 0.3s;
}

.page-button:hover {
    color: var(--col-3);
}

.page-info {
    margin-left: 10px;
    margin-right: 10px;
}

/* ----------------------------------------------------- cre8ai.art Logo */

.logo-img {
    align-items: center;
}

.logo-img img {
    width: 100px;
    height: 100px;
}

.small-logo {
    width: 75px;
    height: 75px;
    margin-top: 25px;
}

.logo-text {
    font-family: 'Pacifico', cursive;
    display: inline-block;
    transform: rotate(-5deg) translate(-3px, 3px);
}

.logo-cre {
    color: var(--col-4);
    transform: rotate(-20deg) translate(5px, 4px);
}

.logo-eight {
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: bold;
    transform: translate(3px, 5px);
}

.logo-ai {
    color: var(--col-1);
    transform: rotate(20deg) translate(5px, -1px);
}

.logo-art {
    color: var(--col-2);
    font-weight: bold;
    transform: rotate(-20deg) translate(-6px, 1px);
}

/* ----------------------------------------------------- Forms */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.form-container h1,
.form-container h3 {
    margin-bottom: 1rem;
}

.form-container p {
    text-align: center;
}

.form-container form {
    width: 100%;
}

.form-container .btn-custom {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-container-left {
    margin-top: 3rem;
}

.form-container-left .btn-custom {
    margin-top: 1rem;
    float: left;
}