body {
    background-color: #F9FAFC;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #c8c8c8;
}

.dark-bg {
    background-color: #40005e;
}

.main-bg {
    background-color: #fff;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #00ffff;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #003975;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #ccddf0;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #46006c;
}

.post-link:hover,
.page-link {
    color: #fc00ea;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #05b0b0;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #6ae4e4;
}

.link {
    color: #ff00ea;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #46006c;
    text-decoration: underline;
}

.btn-like {
    color: #ff0000;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #fc00ea;
    background: transparent;
    border: none;
}