<footer class="footer small mt-auto py-3 dark-bg text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About</h5>
                <p>We believe that art has the power to inspire, engage and transform peoples lives and outlooks. Our
                    platform allows artists and creators to showcase and share their unique creations to a global audience.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>If you have any questions, feedback or suggestions, please contact us at <a
                        href="mailto:contact@onlineai.art">contact@onlineai.art</a>, we would love to hear from you!</p>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="social-icons list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="Facebook"><i class="fab fa-facebook fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="Twitter"><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="Instagram"><i class="fab fa-instagram fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="YouTube"><i class="fab fa-youtube fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center text-muted mb-0">onlineai.art <small>est. 2023</small></p>
            </div>
        </div>
    </div>
</footer>
