{% extends 'base.html' %}

{% load static %}

{% block title %}Generate Art{% endblock %}

{% block content %}

<div class="form-container">

  <!-- Title, Form & Submit -->
  <img class="mb-4" src="{% static 'images/logo.png' %}" alt="Cre8AI.art Logo" width="72" height="72">
  <h1>Generate Art</h1>
  <form method="post" id="generate-art-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-custom right" id="generate-art-btn">Generate Art</button>
  </form>

  <!-- Fair Usage & Daily Tracker -->
  <p class="text-danger">
    The Fair Usage Policy is currently 5 Generations Per Day<br><small>*Subject to change without notice</small><br>
    You have made {{ request.user.profile.generation_count }} generation(s) in the last 24 hours
  </p>

  <!-- Loading Wheel and Updates -->
  <div class="loading-message hide text-center">
    <img src="{% static 'images/spinner.gif' %}" alt="Loading...">
    <p>AI magic taking place 🧙‍♂️</p>
    <p class="longer-than-expected hide">This is taking a little longer than expected... dont worry, it'll be ready
      shortly...</p>
    <p class="something-wrong hide text-danger">Uh oh, we are still trying but this is taking unusually long, please try
      again!</p>
  </div>

  <!-- Generation Advice -->
  <div>
    <strong>Improve your results:</strong>
    <ul class="improve-list">
      <li>Explore various art movements: Incorporate styles such as Impressionism, Surrealism, Cubism, or Abstract
        Expressionism into your prompts for diverse results.</li>
      <li>Play with color schemes: Request specific color combinations, like warm or cool tones, complementary colors,
        or even monochromatic palettes.</li>
      <li>Combine different genres: Mix elements from landscape, portraiture, and still life to create an entirely new
        scene.</li>
      <li>Experiment with textures: Request the AI to apply textures like impasto, smooth gradients, or cross-hatching
        to enhance the visual appeal.</li>
      <li>Integrate famous artists' techniques: Borrow inspiration from renowned artists like Van Gogh's swirling
        brushstrokes, Monet's delicate color blending, or Pollock's dynamic drips and splatters.</li>
      <li>Juxtapose artistic styles: Merge contrasting styles, such as photorealism with abstract or pixel art with
        watercolors, to create unique compositions.</li>
      <li>Dive into cultural art: Explore prompts inspired by various cultural art forms, such as Japanese ukiyo-e,
        Indian Madhubani, or Mexican muralism.</li>
      <li>Experiment with perspective: Request unusual angles, forced perspective, or an isometric view to challenge the
        AI's artistic capabilities.</li>
      <li>Play with scale and proportion: Encourage the AI to create a scene with exaggerated or altered scales and
        proportions for a whimsical effect.</li>
      <li>Incorporate themes from literature, mythology, or history: Blend elements from classic stories, myths, or
        historical events to give your AI-generated art a narrative depth.</li>
    </ul>
    <p>Remember, the more you experiment and fine-tune your prompts, the more fascinating and diverse your AI-generated
      art will become. Embrace the creative process and let the AI be your artistic muse!</p>
  </div>

  <!-- Back Home Button -->
  <div class="right">
    <a href="{% url 'home' %}" class="btn btn-custom" id="btn-back"><i class="fa-solid fa-hand-point-left"></i> Back to
      Home</a>
  </div>

  <!-- Script to show loading wheel and generation time updates alognside hide and diable the generate button -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('generate-art-form');
      const btn = document.getElementById('generate-art-btn');
      const backBtn = document.getElementById('btn-back');
      const loadingMessage = document.querySelector('.loading-message');
      const longerThanExpected = document.querySelector('.longer-than-expected');
      const somethingWrong = document.querySelector('.something-wrong');

      form.addEventListener('submit', function (event) {
        btn.classList.add('hide');
        backBtn.classList.add('hide');
        btn.disabled = true;
        loadingMessage.classList.remove('hide');

        setTimeout(function () {
          longerThanExpected.classList.remove('hide');
        }, 5000);

        setTimeout(function () {
          somethingWrong.classList.remove('hide');
        }, 30000);
      });
    });
  </script>
</div>

{% endblock %}