{% load static %}
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light medium-bg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}" aria-label="Home Page">
                        <img src="{% static 'images/logo_transparent.png' %}" alt="Cre8AI.art Logo" width="40"
                            height="40"><span class="nav-item"> Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}" aria-label="About Us">About</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'generate_art' %}" aria-label="Generate AI Art">Generate Art</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upload_form' %}" aria-label="Upload a Post">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_profile' request.user.username %}"
                        aria-label="View your user profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}" aria-label="Logout of your account">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}" aria-label="Login to your account">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}"
                        aria-label="Sign up to create an account"><strong>Register</strong></a>
                </li>
                {% endif %}
            </ul>
        </div>
        <span class="nav-text">
            Unleash your inner artist <a href="{% url 'home' %}" class="navbar-logo no-underline"
                aria-label="Go to home page"></a>
        </span>
    </div>
</nav>