{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="col-12 mt-3 text-center">
    <h1>
        <div class="logo">
            <span class="logo-text logo-cre">cre</span><span class="logo-text logo-eight">8</span>
            <span class="logo-text logo-ai">ai</span>
            <span class="logo-text logo-art">.art</span>
        </div>
        AI Art Gallery
    </h1>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Posted Images -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <div class="image-container">
                                    <img class="card-img-top" src="{{ post.post_image.url }}"
                                        alt="Image for {{ post.title }}" oncontextmenu="return false;">
                                    <div class="image-flash">
                                        <p class="author">Created by: {{ post.creator }}</p>
                                    </div>
                                </div>
                                <h4 class="card-title">
                                    {{ post.title }}
                                </h4>
                                <p class="card-text">
                                    {{ post.description|striptags|truncatewords:20 }}
                                </p>
                                <hr />
                                <p class="card-text text-muted h6">
                                    <strong>{{ post.created_on}}</strong><span class="right"><i
                                            class="far fa-heart"></i> {{ post.number_of_likes }}</span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.number|add:"-2" > 0 %}
            <li>
                <a href="?page=1" class="page-button">
                    <i class="fa-solid fa-backward-fast"></i>
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-button">
                    <i class="fa-solid fa-backward-step"></i>
                </a>
            </li>
            {% endif %}
            <!-- Display current page number and total pages -->
            <li class="align-self-center">
                <span class="page-info">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}
                </span>
            </li>
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-button">
                    <i class="fa-solid fa-forward-step"></i>
                </a>
            </li>
            {% endif %}
            {% if paginator.num_pages|add:"-1" > page_obj.number %}
            <li>
                <a href="?page={{ paginator.num_pages }}" class="page-button">
                    <i class="fa-solid fa-forward-fast"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}