{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="col-12 mt-3 text-center">
    <div class="logo-img">
        <img src="{% static 'images/logo.png' %}" alt="Cre8AI.art Logo" class="small-logo">
    </div>
    <h1>
        <!-- <div class="logo">
            <span class="logo-text logo-cre">cre</span><span class="logo-text logo-eight">8</span>
            <span class="logo-text logo-ai">ai</span>
            <span class="logo-text logo-art">.art</span>
        </div> -->
        AI Art Gallery
    </h1>
</div>

{% if not user.is_authenticated and not page_obj.has_previous %}
<div class="text-center bg-info">
    <a class="nav-link" href="{% url 'account_signup' %}">
        <h5>
            Unleash your creativity with our advanced text-to-art image generator! Join our creative community today and
            access a custom profile where you can showcase your unique art creations. As a member, you'll have the
            opportunity to interact with our vibrant community by commenting and liking posts, and you'll also be able
            to
            download artwork from our vast collection of user-generated images. Don't miss out on the chance to create
            and
            share your own art. Sign up now and unleash your inner artist!
        </h5>
    </a>
</div>
{% endif %}

<div class="col-12 mt-3 text-center">
    <form method="get" action="{% url 'search' %}">
        <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">
        <input type="submit" value="Search">
    </form>
</div>

<div class="col-12 mt-3 text-right">
    {% with request.GET.sorting as sorting %}
    <form method="get" class="sorting-form">
        <input type="hidden" name="q" value="{{ query }}">
        <label for="sorting">Sort by:</label>
        <select name="sorting" id="sorting" onchange="this.form.submit()">
            <option value="newest" {% if sorting == 'newest' %}selected{% endif %}>Newest</option>
            <option value="most_likes" {% if sorting == 'most_likes' %}selected{% endif %}>Most Likes</option>
        </select>
    </form>
    {% endwith %}
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Posted Images -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                {% if post.slug %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    <img class="card-img-top" src="{{ post.post_image.url }}"
                                        alt="Image for {{ post.title }}" oncontextmenu="return false;">
                                </a>
                                <div class="image-flash">
                                    <a href="{% url 'user_profile' post.creator.username %}">
                                        <p class="author">Created by: {{ post.creator }}</p>
                                    </a>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h4 class="card-title">
                                    {{ post.title|slice:":125"|truncatewords:12  }}
                                </h4>
                                <p class="card-text">
                                    {{ post.description|striptags|slice:":125"|truncatewords:12 }}
                                </p>
                                <hr />
                                <p class="card-text text-muted h6">
                                    <strong>{{ post.created_on}}</strong><span class="right"><i
                                            class="far fa-heart"></i> {{ post.number_of_likes }}</span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                {% endif %}
                {% endfor %}
                </div>
                <div class="row">
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.number|add:"-2" > 0 %}
            <li>
                <a href="?page=1" class="page-button">
                    <i class="fa-solid fa-backward-fast"></i>
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-button">
                    <i class="fa-solid fa-backward-step"></i>
                </a>
            </li>
            {% endif %}
            <!-- Display current page number and total pages -->
            <li class="align-self-center">
                <span class="page-info">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}
                </span>
            </li>
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-button">
                    <i class="fa-solid fa-forward-step"></i>
                </a>
            </li>
            {% endif %}
            {% if paginator.num_pages|add:"-1" > page_obj.number %}
            <li>
                <a href="?page={{ paginator.num_pages }}" class="page-button">
                    <i class="fa-solid fa-forward-fast"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}