{% extends 'base.html' %}

{% block title %}Edit: {{ post.title }}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <!-- Image Title -->
            <div class="col-md-12 masthead-text">
                <h1 class="post-title">Edit Description</h1>
                <h3 class="post-title">{{ post.title }}</h3>
            </div>
            <!-- Uploader & Created Date -->
            <div class="col-md-12 masthead-text">
                <p class="post-subtitle">{{ post.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 card mb-4 mt-3 left top">
            <!-- Uploaded Image -->
            <div class="posted-image-container">
                <img src="{{ post.post_image.url }}" class="posted-image" oncontextmenu="return false;">
            </div>
            <div class="card-body">
                <!-- Image Description -->
                <h3 class="card-text ">Current Description:</h3>
                <p class="card-text ">{{ post.description | safe }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container edit-container">
    <h3>New Description:</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-custom right">Save</button>
    </form>
</div>

{% endblock content %}