{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <!-- Image Title -->
            <div class="col-md-8 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
            </div>
            <!-- Uploader & Created Date -->
            <div class="col-md-4 masthead-text">
                <p class="post-subtitle">{{ post.creator }} | {{ post.created_date }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 card mb-4 mt-3 left top">
            <!-- Uploaded Image -->
            <img src="{{ post.post_image.url }}" width="100%">
            <div class="card-body">
                <!-- Image Description -->
                <p class="card-text ">{{ post.description | safe }}</p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                                <form action="{% url 'post_like' post.slug %}" class="d-line" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                        <button class="btn-like" type="submit" name="blogpost_id" value="{{post.slug}}">
                                            <i class="fas fa-heart"></i>
                                        </button>
                                    {% else %}
                                        <button class="btn-like" type="submit" name="blogpost_id" value="{{post.slug}}">
                                            <i class="far fa-heart"></i>
                                        </button>
                                    {% endif %}
                                </form>
                            {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <br>{{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- Comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- Comment Author -->
                        {{ comment.name }}
                        <!-- Comment Created Date -->
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_date }}
                        </span> wrote:
                    </p>
                    <!-- Comment Text -->
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3 ">
            <div class="card-body">
                {% if user.is_authenticated %}
                    <h3>Share your opinion here:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg" style="margin-top: 1em;">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}