{% extends "base.html" %}

{% load static %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
<!-- Static Page: Logo, Title, Information and Home Button -->
<div class="text-center">
    <img class="mb-4 small-logo" src="{% static 'images/logo.png' %}" alt="Cre8AI.art Logo">
</div>
<h1>{{ page.title }}</h1>
<div>{{ page.content|safe }}</div>
<div class="right">
    <a href="{% url 'about' %}" class="btn btn-custom" aria-label="Go to home page"><i
            class="fa-solid fa-hand-point-left"></i> Back to About</a>
</div>

{% endblock %}