{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="{{ profile.profile_picture.url }}" alt="Profile picture" class="card-img-top rounded-circle">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.user.username }}</h5>
                    <p class="card-text">{{ profile.bio }}</p>
                    <p><strong>Total Posts:</strong> {{ posts.count }}</p>
                    {% if user == profile.user %}
                    <button id="edit-profile-btn" class="btn btn-primary">Edit Profile</button>
                    <form id="edit-profile-form" method="post" enctype="multipart/form-data" class="d-none">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>{{ profile.user.username }}'s Cre8ions</h3>
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4 mb-3">
                    <a href="{% url 'post_detail' post.slug %}">
                        <img src="{{ post.post_image.url }}" alt="{{ post.title }}" class="img-thumbnail">
                    </a>
                </div>
                {% empty %}
                <p>No posts yet.</p>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.number|add:"-2" > 0 %}
                    <li>
                        <a href="?page=1" class="page-button">
                            <i class="fa-solid fa-backward-fast"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}" class="page-button">
                            <i class="fa-solid fa-backward-step"></i>
                        </a>
                    </li>
                    {% endif %}
                    <!-- Display current page number and total pages -->
                    <li class="align-self-center">
                        <span class="page-info">
                            Page {{ page_obj.number }} of {{ paginator.num_pages }}
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}" class="page-button">
                            <i class="fa-solid fa-forward-step"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if paginator.num_pages|add:"-1" > page_obj.number %}
                    <li>
                        <a href="?page={{ paginator.num_pages }}" class="page-button">
                            <i class="fa-solid fa-forward-fast"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

        </div>
    </div>
</div>

<script>
    document.getElementById("edit-profile-btn").addEventListener("click", function () {
        this.classList.add("d-none");
        document.getElementById("edit-profile-form").classList.remove("d-none");
    });
</script>

{% endblock %}