{% extends 'base.html' %}

{% block title %} {{ profile.user }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <img src="{{ profile.profile_picture.url }}" alt="Profile picture" class="card-img-top rounded-circle">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.user.username }}</h5>
                    <p class="card-text">{{ profile.bio }}</p>
                    <p><strong>Total Posts:</strong> {{ posts.count }}</p>
                    {% if user == profile.user %}
                    <button id="edit-profile-btn" class="btn btn-primary">Edit Profile</button>
                    <form id="edit-profile-form" method="post" enctype="multipart/form-data" class="d-none">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h3>{{ profile.user.username }}'s Cre8ions</h3>
            <div class="row">
                {% for post in posts %}
                {% if post.status == 1 %}
                <div class="col-md-4 mb-3">
                    <a href="{% url 'post_detail' post.slug %}">
                        <img src="{{ post.post_image.url }}" alt="{{ post.title }}" class="img-thumbnail">
                    </a>
                </div>
                {% endif %}
                {% empty %}
                <p>No posts yet.</p>
                {% endfor %}
            </div>

            {% if user.is_authenticated and user == profile.user %}
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>

                <h3> Your Private Cre8ions</h3>
                <div class="row">
                    {% for post in posts %}
                    {% if post.status == 0 %}
                    <div class="col-md-4 mb-3">
                        <a href="{% url 'post_private' post.slug %}">
                            <img src="{{ post.post_image.url }}" alt="{{ post.title }}" class="img-thumbnail">
                        </a>
                    </div>
                    {% endif %}
                    {% empty %}
                    <p>You dont have any private posts.</p>
                    {% endfor %}
                </div>
            {% endif %}
           

        </div>
    </div>
</div>

<script>
    document.getElementById("edit-profile-btn").addEventListener("click", function () {
        this.classList.add("d-none");
        document.getElementById("edit-profile-form").classList.remove("d-none");
    });
</script>

{% endblock %}